body{
    background-color: cadetblue;
    font-family:'Times New Roman', Times, serif;
}
.container{
    text-align: center;
    color:brown;
    background-color: wheat;
    width:360px;
    padding:10px;
    margin-left: 33%;
    margin-top: 5px;
    border:2px solid black;
}
img{
    
    max-width:200px;
    max-height: 100px;
    object-fit: cover;
}
input,task{
    width:270px;
    padding:8px;
    border:2px solid black;
    outline: none;
    margin-left: 33%;
    margin-top: 5px;
   
}
button{
    border:none;
    outline:none;
    height:34px;
    width: 90px;
    background-color:rgb(29, 4, 7);
    color:white;
    font-size:19px;
    border-radius: 2px;
    cursor: pointer;
}
.text ul{
    position:relative;
    background-color:black;
    color:white;
    font-size:15px;
    text-align:left;
    padding:7px;
    margin-left:33%;
    border:2px solid black;
    width:360px;
    height:15px;
    padding:10px;
}
.text ul i{
    position:absolute;
    right:10px;
    cursor:pointer;
    /* text-align:right; */
}